<#assign title> 鑫恒辉物流-登录 </#assign>
<#assign contentBody> <script type="text/x-template"
	id="login">
      
<div class="page-content padding-top">
	<div class="padding">
            <div class="button button-positive button-block" @click="onSigup()">确认登录</div>
          </div>
</div>

</script> </#assign>

<#assign body> <script type="text/javascript">
	var login = {
		template : '#login',
		methods:{
			onSigup:function(){//20190313007171672081552481562992
				axios.post(basePath+"/sigup",{openId:'20190313007171672081552481562992'}).then(function(res){
					window.location.href=res.data.result;
				}).catch(function(err){
					console.log(err);
				});
			}
		}
	}

	const routes = [{
		path : '/',
		component : login
	}];

	Vue.use(Vonic.app, {
		routes : routes
	})
</script> </#assign>




















<#include "/layout.html" encoding="utf-8">