<#assign title> 鑫恒辉物流-注册 </#assign>
<#assign contentBody> <script type="text/x-template"
	id="register">
      
<div class="page-content padding-top">
	<von-input type="text" v-model="reg.name" placeholder="姓名" label="姓名"></von-input>
	<von-input type="text" v-model="reg.idNumber" placeholder="身份证号"
		label="身份证号"></von-input>
	<von-input type="text" v-model="reg.cell" placeholder="手机号"
		label="手机号"></von-input>
	<div class="item item-divider">证件上传(<span style="color:red;">仅供寄件实名制使用</span>)</div>


	<div class="weui-uploader">
		<img v-bind:src="reg.frontImg" v-if="reg.frontImg" alt="可点击照片重新上传" />
		<span v-else>选择身份证正面照</span>
		<input id="frontImg" class="weui-uploader__input"" @change="convertToBase64" type="file" accept="image/*" multiple="">
	</div>
	<div class="weui-uploader">
		<img v-bind:src="reg.backImg"  v-if="reg.backImg" alt="可点击照片重新上传" />
		<span v-else>选择身份证背面照</span>
		<input id="backImg" class="weui-uploader__input" @change="convertToBase64" type="file" accept="image/*" multiple="">
	</div>

	<div class="padding">
            <div class="button button-positive button-block" @click="onRegister()">注册</div>
          </div>
</div>

</script> </#assign>

<#assign body> <script type="text/javascript"
	src="${request.getContextPath()}/assets/js/IDValidator.js"></script><script type="text/javascript"
	src="${request.getContextPath()}/assets/js/exif.js"></script><script
	type="text/javascript">
	var register = {
		template : '#register',
		data : function() {
			return {
				reg : {
					name : '',
					idNumber : '',
					cell : '',
					attach:[],//证件照正反面
					tenantId:1,
					type:getQueryString("t"),
					backImg:'',
					frontImg:''
				}
			}
		},
		methods:{
			onRegister:function(){
				if(!this.isEmpty())
					return;
				
				axios.post(basePath+"/uc/save",this.reg).then(function(res){
					if(res.data.code==0)
						window.location.href=res.data.result;
					else
						$toast.show(res.data.result);
					console.log(res);
				}).catch(function(err){
					console.log(err);
				});
			},
			isEmpty:function(){
				if(!this.reg.name){
					 $toast.show('请输入您的姓名')
					return false;
				}
				if(!this.reg.idNumber){
					 $toast.show('请输入您的身份证号')
					return false;
				}
				if(IDValidator.isValid(this.reg.idNumber)){
					$toast.show('身份证号格式不正确')
					return false;
				}
				
				if(!this.reg.cell){
					$toast.show('手机号不能为空')
					return false;
				}

				var vl = /^0?1[3|4|5|7|8|6|9][0-9]\d{8}$/;
				if(this.reg.cell && !vl.test(this.reg.cell)){	               
					$toast.show('手机号格式不正确')
					return false;
				}
				return true;
			},
			convertToBase64:function(e){
			console.log(e)	;
			var self=this;
			var id=e.target.id;
			createBase64(e.target,function(data){
				if(id="frontImg"){
					self.reg.frontImg=data;
				}else{
					self.reg.backImg=data;
				}
			})
			}
		}
	}

	const routes = [ {
		path : '/',
		component : register
	} ]

	Vue.use(Vonic.app, {
		routes : routes
	})
</script> </#assign>




















<#include "/layout.html" encoding="utf-8">