
<#assign title> 鑫恒辉物流-用户注册协议 </#assign>
<#assign contentBody> 

<div class="protocol">
	<h3 align="center">服 务 电 子 合 同</h3>
	<p></p>
	
	甲方:   泉州市鑫恒辉信息技术有限公司<br>
	联系人：  李承辉                 <br> 
	通讯电话：  15860554888,0595-26097555      <br>      
	联系地址：   福建省泉州市安溪县龙涓乡玳堤村深内茶叶城24幢3号            <br> 
	乙方:       为服务号注册人               <br> 
	账单接收：  服务号推送 <br> 
	依据相关法律法规，甲乙双方本着自愿、平等、公平之原则，经充分协商，就乙方委托甲方代理运输等事宜达成如下协议：<br>
	
	
	<h4>第一条  服务内容</h4>
	甲方接受乙方委托，为乙方提供物流综合服务，包括收派件服务、装卸服务、货物运输代理服务及代收货款服务等。与甲方合作的运输公司有以下服务模式供选择：德邦物流；德邦快递；壹米滴答物流；安能物流；中铁物流；百世快运 。
	<h4>第二条  甲方的权利与义务</h4>
	2.1 甲方负责安排运输公司，甲方应提供免费的上门收件服务。<br>
	2.2 根据有关法律法规的规定，司法、行政机关的要求，出于安检的需要，甲方可以对托寄货物开箱验视，以及确认物品的名称，类别，数量等是否与托运单上所填写的内容一致，如发现托寄物属于国家禁止或限制寄递的物品，甲方有权拒收或退回，并有权收取所发生的费用，具体禁运品明细见本合同附件。<br>
	2.3 甲方在已经收寄的货物中发现有禁寄或限寄物品的，可以停止提供本合同项下各项服务。对其中依法需要没收或者销毁的物品，有权立即向有关部门报告，并配合有关部门处理。对已经收寄的不需要没收、销毁的禁寄或限寄物品，以及需依法查处的禁寄或限寄物品之外的物品，甲方应及时联系乙方妥善处理。<br>
	2.4 甲方应对乙方出发货物的运行状况进行全程跟踪；乙方有权获知货物在途情况和预计到达时间。乙方发运大宗货物或有特殊要求的货物，在货物启运后甲方应及时将发运情况通知乙方。<br>
	2.5 若因非甲方原因（包括但不限于非甲方责任的运输工具问题、自然灾害、政府行为、战争等社会异常事件）造成航班、汽运等无法正常进行，甲方应及时通知乙方。<br>
	2.6 货物到达指定目的地后甲方应及时通知收件人提货；超过三日未提货的，乙方应向甲方支付保管费。<br>
	2.7 有以下情形之一的，甲方应以合理的努力将货物退还发件人，因此额外发生的费用由乙方支付：<br>
		<span>2.7.1收件人拒绝收件或支付服务费的；</span>
		<span>2.7.2无法合理确定或找到收件人。</span>
	2.8 如果收货人拒绝收件，7天之内乙方未明确给出此拒收货物的处理意见（弃货处理或返回给发货人），则满7天甲方有权直接将货物返回乙方，因乙方原因导致收货人拒收的货物，乙方需按公布价向甲方支付返货费用。
	<h4>第三条  乙方的权利与义务</h4>
	3.1乙方须如实申报货物内容，并准确填写托运人、收件人的名称、地址和联系电话等资料。乙方拒绝甲方验视或不如实填写运单、不提供有关证件的，甲方可以拒绝办理后续手续。<br>
	3.2 乙方应出示或提供托运货物所必须的相关证件。对于国家规定限制运输的物品，乙方应在交货前完成或者委托甲方完成有关法律、行政法规规定的手续，并附有效凭证。<br>
	3.3 乙方应保证托寄物不会造成收件人或其他第三方人身或财产的损害，也没有侵犯任何第三方的知识产权。<br>
	3.4 乙方指派人员到甲方办理货物交接、验收、结算等各个环节的综合服务事宜以及合同履行过程中签字确认相关文件之行为或其它履约行为。<br>
	注: 甲乙双方均应明确告知其员工有关本合同的各项内容，以促使双方员工在托运、接收货物时不会发生分歧。<br>
	3.5 乙方员工为乙方托运物品或者接受物品的行为视为乙方行为，对乙方有法律约束力。<br>
	3.6 乙方应及时通知甲方安排运输公司装货，告知甲方货物名称、性质、数量、装货时间、地点等；大票货物应提前二十四小时通知甲方。<br>
	3.7 乙方负责包装的货物应当遵守国家标准、行业包装标准；没有国家标准、行业包装标准，应当根据保证托寄物派送安全的原则进行包装，使其适合运输；甲方不得擅自改动乙方包装。<br>
	3.8 甲方负责包装货物或协助乙方进行发货前的打包、装箱等工作的，乙方应支付相应费用。<br>
	3.9 因乙方托寄物质量缺陷或包装破损，致使其他托寄物品、运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，乙方应承担全部赔偿责任。<br>
	3.10 在货物送达收件人之前，乙方有权随时要求中止运输、改变货物到达地点和收件人、返还货物等，但应支付因此所增加的服务费及其它费用。<br>
	3.11 乙方或收件人要求送货上门的货物，甲方应以适当方式及时、安全地将货物送达收件处。选择快运货物模式时，由此所增加费用由乙方或收件人承担。选择快件模式时，甲方应提供免费的上门送件服务。
	
	<h4>第四条  费用与结算</h4>	
	4.1 价格条款
		<span>4.1.1 乙方同意甲方根据公布价对所托运货物进行分别计费。</span>
		<span>4.1.2 甲方所公布的价格如有变动，甲方应提前通知乙方，通知形式包括但不限于电子邮件、电话、官网讯息等。乙方未提异议而继续发货的，视为乙方已接受价格，甲方未通知前，按变动前执行。</span>
		<span>4.1.3 本电子合同适用的价格不包含政府规费、紧急附加费等其它费用。</span>
	4.2 计算方式
		<span>货物重量计量单位为千克，不足一千克按一千克计算。若体积重量大于实际重量，按体积重量计算。</span>
	4.3结算方式：
		<span>4.3.1 结算周期分为3天、3-15天、15-30天，结算周期所对应的折扣以服务号账单推送日期自动折算。超过50天未付款的按原价结算。</span>
		<span>4.3.2 甲方每天将前一日结算账单推送到乙方注册服务号账号上供乙方审核，乙方如对结算账单有异议，应自甲方送达结算账单之日起3个工作日内通知甲方，逾期不提出异议视为认同。如乙方在约定期限内提出异议，双方应在乙方提出异议之日起2个工作日内共同完成对相关费用的核对和确认。</span>
		<span>4.3.4 双方合作期间，若乙方所注册服务号变动，需及时告知甲方。由于乙方未及时通知导致的结算清单未送达、确认逾期等问题，甲方不承担任何责任。</span>
		<span>4.3.5 乙方应先予支付双方核对无异议的费用，甲方收取乙方支付的部分费用并不免除乙方继续支付剩余费用的责任。如乙方要求甲方在纸质结算账单上盖章确认并反馈的，甲方应予以配合。</span>
		<span>4.3.6 乙方或收件人应按时足额对甲方支付服务费用。付款方式为服务号账单支付里支付。</span>
		<span>4.3.7 乙方选择现金支付的，应当取得甲方工作人员签字确认的收款凭据。乙方声明已付款但无法出具上述证明的，甲方不予承认，乙方应按时支付货款。</span>
		<span>4.3.8 乙方有义务按照约定时间支付所欠甲方的服务费用，不得以理赔尚未结束为由拖延支付、拒绝支付或擅自从所欠服务费用中直接扣除理赔款。</span>
		<span>4.3.9 如乙方逾期未付清费用的，甲方有权中止乙方的所有优惠，直至乙方付清所有费用；乙方未付清费用前仍要求甲方提供服务的，乙方需对后续产生的服务费按现付现结的方式支付。</span>
	
	<h4>第五条  违约责任与赔偿</h4>	
	5.1 甲方承担从货物收件时起到交付时止除承运人责任以外的其他服务责任，并负责追偿运输公司的承运人责任。<br>
	5.2 甲方建议乙方办理货物保价运输，声明货物价值并支付保价费，由乙方自主选择；鉴于甲方无法对托寄物的实际价值进行核实，乙方应当遵循诚实信用的原则，按照托寄货物的实际价值申报声明价值，且不得超过货物实际价值。甲方收取的保价费用以乙方托运货物的保价声明价值为准，货物保价费率按甲方国内货物保价费率表的规定计算。乙方申报保价声明价值并支付保价费，即表示乙方对该票货物已选择保价服务。<br>
	5.3 双方明确知晓：保价服务选择与否对于货物毁损、灭失之后的赔付标准具有非常重要的意义：
		<span>货物赔偿标准：</span>
		<span>A、未保价托寄物赔偿标准：若因甲方过错造成托寄物损毁、灭失的，甲方应按对应基础运费的5倍赔偿货物的实际损失</span>
		<span>B、保价赔托寄物赔偿标准：若甲方过错造成托寄物全部损毁、灭失的，按照声明价值（不得超过实际价值）予以赔偿；托寄物部分损毁或者内件短少的，则甲方按声明价值和损失的比例进行赔偿。</span>
		<span>C、托寄物的残值由双方协商处理，如残值折归乙方，则甲方在核定赔偿金额时将扣减残值相当的金额。</span>
		<span>上述赔偿如系承运人责任的，由甲方协助乙方向运输公司追偿。</span>
	5.4 特别声明：鉴于甲方无法对托寄物的实际价值进行核实，乙方需如实声明托寄物价值：乙方寄递价值超过1000元的贵重物品，应在向甲方交付托寄物时如实声明托寄物价值。乙方未声明托寄物价值的，甲方仅在基础运费的5倍限额内承担赔偿责任。<br>
	5.5 无论货物是否保价，如果甲方、乙方或第三方就托运货物购买了保险，因发生保险事故导致托运货物被毁损灭失的，保险公司已经向乙方或第三方承担或许诺承担赔偿责任后，甲方在此范围内不再承担赔偿责任。<br>
	5.6 乙方无正当理由不按约定期限支付服务费或其他费用的，超过60天的，每逾期一日，按应付款额0.3%的比例向甲方支付滞纳金。<br>
	5.7 乙方承诺提供给甲方的发货人信息（包含但不仅限于发货联系人姓名、身份证号码、营业执照注册登记信息、货物品名、声明价值）真实有效，且乙方同意甲方因响应国家法律或政策要求将上述信息提供给国家邮政机关登记备案。<br>
	5.8 因乙方在货物中夹带国家禁止运输、缺少相关手续的限制运输物品或危险品，被国家有关部门查处的，或者由此造成其他公民，法人及其他组织损害的，由乙方依法承担赔偿责任；致使甲方因此受到损害及遭受第三人索赔的，乙方应赔偿甲方损失，并积极采取有效措施以避免甲方受到牵连。
	<h4>第六条  免责事由</h4>
	6.1 因下列原因造成托寄物延误、无法派送、丢失破损的，甲方不承担赔偿责任：
		<span>6.1.1 不可抗拒因素是指无法预测、无法控制或无法避免的客观因素或意外事件，包括但不限于地震、泥石流、洪涝灾害、火灾等自然灾害；台风、暴雨雪、雾霾等恶劣天气；罢工、恐怖事件、法规政策的修改、政府、司法机关的行为、决定或命令；抢劫、飞车抢夺等暴力犯罪；</span>
		<span>6.1.2 因托寄物的自然性质、内在缺陷或合理损耗造成的；</span>
		<span>6.1.3 因乙方、收货人的自身过错造成的。如乙方未履行如实申报告知的义务、违规托运货物的，收件人迟延受领托运物等情形。</span>
	6.2 甲乙双方约定，甲方对下列事项不承担责任：
		<span>6.2.1 乙方自行包装，因包装或容器不良、从外部无法发现而造成的损失；</span>
		<span>6.2.2 乙方自行包装，到达时外包装完好而内件短少或损坏；</span>
		<span>6.2.3 非新品运输，外包装完好而内件缺少或损坏；</span>
		<span>6.2.4 货物代理运输过程中可能发生的一切间接损失（包括但不限于对所托运货物的收益、利润、实际用途、特殊商业价值）。</span>
	<h4>第七条  保密条款</h4>
	7.1 甲方对为履行本电子合同过程中获知的乙方商业秘密和其它资料负有保密的义务。甲方需采取有效措施使上述资料免于被无关人员接触，包括要求参与本合同工作的雇员遵守本条之规定。<br>
	7.2 甲方给予乙方的各种优惠和其它商业信息，乙方应为甲方保密。
	<h4>第八条  合同生效、变更、解除与终止</h4>
	8.1 本电子合同及附件自签章之日起生效，有效期为一年。合同期满十五天前，双方均无异议的，自动顺延一年。合同到期后若还有正在履行的订单，应按本合同约定继续履行至合同履行完毕。<br>
	8.2 乙方有下列情形之一的，甲方有权解除本合同，届时乙方所有应付费用最迟应当在合作终止次月全额支付给甲方：
		<span>8.2.1 乙方无故拖欠甲方全部或部分结算费用超过50日；</span>
		<span>8.2.2 乙方存在其他严重影响甲方经营的行为。</span>
	8.3 合同任何一方违背本合同之条款，另一方有权立即通知解除本合同。<br>
	8.4 任何一方解除合同，都必须以书面形式于十五日前通知对方。<br>
	8.5 本合同终止后，任何自然延伸的责任和义务继续有效。
	<h4>第九条  其他事项</h4>
	甲乙双方就本电子合同中涉及各类通知、协议沟通等文件以及就电子合同发生纠纷后（包括诉讼、仲裁阶段）相关文件和法律文书送达时的送达地址和联系方式均依据本合同约定的通讯地址为各方有效通讯地址,未写明通讯地址的，视为公司注册地址或身份证地址为通讯地址，如任何一方联系方式或通讯地址有误或变更而导致另一方无法及时通知的，由此造成的损失由过错方负责。
	<h4>第十条  争议解决</h4>
	本合同项下发生之争议，双方当事人可协商或经调解解决；协商或调解不成，任何一方应向甲方所在地的人民法院起诉。	
	<h4>第十一条  本电子合同，经乙方注册服务号同意后正式生效，具有同等法律效力；本电子合同未尽事宜由双方另行协商确定。</h4>
	<h4>第十二条  附件</h4>
	以下文件是本电子合同的附件，与本电子合同具有同等法律效力：
		<span>12.1 《禁止寄递物品管理规定》</span>
		<span>12.2 《禁止寄递物品指导目录》</span>
	
	
</div>



</#assign>





<#include "/layout.html" encoding="utf-8">