<#assign title> 鑫恒辉物流-驾驶员业务管理中心 </#assign>

<#assign head>
	<style type="text/css">
	.tabs-top>.tabs{
	top:0px;
	}
	.tabbar{
	overflow:hidden;
	}
	</style>
</#assign>

<#assign contentBody> <script type="x-template" id="index">
      <div class="page" v-tabbar="{'menus': menus, menuColor: '#B5B5B5', activeMenuColor: '#44CC00', onMenuClick: menuClicked}">
        <router-view></router-view>
      </div>
    </script> 
<script type="text/x-template" id="order">
<div class="page" v-tabbar-menu-index="0">
	<tabs :tab-items="tabs" :tab-index="tabIndex" :on-tab-click="onTabClick" style="top:0px;"></tabs>

	<div class="page-content padding-top">
          <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <!--<label class="weui-form-preview__label"></label>-->
                <em class="weui-form-preview__value">揽件地址：上海市彭浦新村</em>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">托寄物：</label>
                    <span class="weui-form-preview__value">家具</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">客户：</label>
                    <span class="weui-form-preview__value">李四</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">手机：</label>
                    <span class="weui-form-preview__value">15259483686</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">备注：</label>
                    <span class="weui-form-preview__value">很长很长的名字</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">总重量(kg):20 | 总件数:5</label>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">接单</a>
				<a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">拒单</a>
            </div>
        </div>
	</div>

</div>

</script> <script type="text/x-template" id="my">

<div class="page-content padding-top" v-tabbar-menu-index="1">
	<p class="text-center">
		<img style="border-radius: 10%"
			src="<@shiro.user><@shiro.principal property="headImg" /></@shiro.user>" />
	</p>
	<p class="text-center"><@shiro.user><@shiro.principal property="nickName" /></@shiro.user></p>

	<list> <item> 姓名 <span class="item-note"> <@shiro.user><@shiro.principal property="name" /></@shiro.user> </span> </item> <item>
	手机号 <span class="item-note"> <@shiro.user><@shiro.principal property="cell" /></@shiro.user> </span> </item> <item> 身份证 <span
		class="item-note"> <@shiro.user><@shiro.principal property="idNumber" /></@shiro.user> </span> </item> </list>
</div>



</script> </#assign>

<#assign body> <script type="text/javascript">
var Index = {
        template: '#index',
        data() {
          return {
            menus: [
              {
                iconOn: 'icon ion-ios-paper',
                iconOff: 'icon ion-ios-paper-outline',
                text: '订单',
                path: '/'
              },
              {
                iconOn: 'ion-ios-person',
                iconOff: 'ion-ios-person-outline',
                text: '我的',
                path: '/my'
              }
            ]
          }
        },
        methods: {
          menuClicked(menuIndex) {
            console.log(menuIndex)
          }
        },
        beforeDestroy() {
          $tabbar.$emit('hideTabbar')
        }
      }
      var Order = { 
		template: '#order'
		,data:function(){
			return {
				tabs: [
			        "待接单",
			        "已接单",
			        "已拒单"
			      ],
			      tabIndex:0
			}
		},
		methods:{
			onTabClick(index) {
			      console.log(index)
			      this.tabIndex = index
			    }
		}
		}
      var My = { template: '#my' }
      // Routes
      var routes = [
        { 
          path: '/', 
          component: Index,
          children: [
            { path: '/', component: Order },
            { path: 'my', component: My }
          ]
        }
      ]
      // Start up
      Vue.use(Vonic.app, {
        routes: routes
      })
</script> </#assign>




















<#include "/layout.html" encoding="utf-8">