<#assign title> 鑫恒辉物流-运费查询 </#assign>

<#assign contentBody> <!-- 组件 --> <script
	type="text/x-template" id="index">
<div class="page" v-nav="{hideNavbar: true}">
	<div class="page-content">
		<div class="item item-divider">选择您寄送的目的地：</div>
		<cascade :fields="fields" :data="cities" :value="query.dest"></cascade>
		<von-input type="text" v-model:number="query.vol" placeholder="体积"
			label="体积(m³)"></von-input>
		<von-input type="text" v-model:number="query.weight" placeholder="重量"
			label="重量(kg)"></von-input>
		<div class="padding">
			<div class="button button-positive button-block" @click="onSerch()">查询</div>
		</div>
		<div class="item item-divider" v-if="tableData.length>0">查询结果</div>
		<div class="item item-divider" v-if="dis">暂无该目的地的报价</div>
		<list> <item v-for="item in tableData"> {{item.express}}
		<span class="item-note"> {{item.price}}元 </span> </item> </list>
	</div>
</div>
    </script> </#assign>


<#assign body> <script type="text/javascript">
		var Index = {
			template : '#index',
			data : function() {
				return {
					fields : [ "省", "市" ],
					cities : [],
					query : {
						dest : [],
						vol : '',
						weight : ''
					},
					tableData:[],
					dis:false
				}
			},
			methods : {
				onSerch : function() {
					if(this.query.dest.length==0){
						 $toast.show('请选择配送的目的地')
						return;
					}
					if(!this.query.vol){
						 $toast.show('请输入实际体积')
						return;
					}
					var re = /^(\d+)(\.\d+)?$/;
				      
					if(!re.test(this.query.vol)){
						 $toast.show('请输入有效的体积')
						return;
					}
					if(!this.query.weight){
						 $toast.show('请输入实际重量')
						return;
					}
					if(!re.test(this.query.weight)){
						 $toast.show('请输入有效的重量')
						return;
					}
					var $this=this;
					
					axios.post(basePath+"/search",{
						  province: this.query.dest[0],
							city: this.query.dest[1],
							volume:this.query.vol,
							weight:this.query.weight,
						  }).then(function(res){
							  if(res.data && res.data.code==0){
									$this.tableData=res.data.result;
									$this.dis=$this.tableData.length==0;
								}else{
									$toast.show(res.data.result);
								}
					}).catch(function(err){
						  $toast.show("网络信号弱，请刷新重试");
					});
					
				},
				queryAdd:function(){
					var self=this;
					axios.get(basePath+"/q").then(function(response){
						self.cities=response.data;
					}).catch(function(){
						  $toast.show("网络信号弱，请刷新重试");
					});
				}
			},
			created:function(){
				this.queryAdd();
			}

		};
		const routes = [ {
			path : '/',
			component : Index
		}]

		Vue.use(Vonic.app, {
			routes : routes
		})
	</script> </#assign>
<#include "/layout.html" encoding="utf-8">