<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome =1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>鑫恒辉物流-运费查询</title>
<link href="${request.getContextPath()}/assets/css/vonic.min.css"
	rel="stylesheet"></link>


<script type="text/javascript">
	var basePath = "${request.getContextPath()}";
</script>
</head>
<body>
	<von-app></von-app>

	<!-- 组件 -->
	<script type="text/x-template" id="index">
        <div class="page-content padding-top">
          <div class="item item-divider">
 			选择您寄送的目的地：
          </div>
          <cascade :fields="fields" :data="cities" :value="query.dest"></cascade>
          <von-input type="text" v-model="query.vol" placeholder="体积" @keydown="handleInput" label="体积(m³)"></von-input>
		  <von-input type="text" v-model="query.weight" placeholder="重量" @keydown="handleInput" label="重量(kg)"></von-input>
		  <div class="padding">
            <div class="button button-positive button-block" @click="onSerch()">查询</div>
          </div>
        </div>
    </script>
	<script type="text/x-template" id="about">
      <div class="page has-navbar" v-nav="{ title: 'About', showBackButton: true }">
      <div class="page-content text-center">
        <h2 class="padding">Nothing here.</h2>
      </div>
    </div>
    </script>
	<!-- 引用js -->
	<script type="text/javascript"
		src="${request.getContextPath()}/assets/js/axios.min.js"></script>
	<script type="text/javascript"
		src="${request.getContextPath()}/assets/js/qs.js"></script>
	<script type="text/javascript"
		src="${request.getContextPath()}/assets/js/vue.min.js"></script>
	<script type="text/javascript"
		src="${request.getContextPath()}/assets/js/vue-router.min.js"></script>
	<script type="text/javascript"
		src="${request.getContextPath()}/assets/js/vuex.min.js"></script>

	<script type="text/javascript"
		src="${request.getContextPath()}/assets/js/vonic.min.js"></script>
	<script type="text/javascript">
		var Index = {
			template : '#index',
			data : function() {
				return {
					fields : [ "省", "市" ],
					cities : [ [ '北京市', '北京市' ],
						[ '上海市', '上海市' ],
					// ...
					],
					query : {
						dest : [],
						vol : 0,
						weight : 0
					}
				}
			},
			methods : {
				onSerch : function() {
					if(this.query.dest.length==0){
						 $toast.show('请选择配送的目的地')
						return;
					}
					if(!this.query.vol){
						 $toast.show('请输入实际体积')
						return;
					}
					if(!this.query.weight){
						 $toast.show('请输入实际重量')
						return;
					}
					axios({
						  method: 'post',
						  url: basePath+'/search',
						  headers:{
							  'Content-Type':  'application/x-www-form-urlencoded;charset=UTF-8'
						  },
						  data: Qs.stringify({
							  province: this.query.dest[0],
								city: this.query.dest[1],
								volume:this.query.vol,
								weight:this.query.weight,
								tenantId:1
							  })
						}).then(function (response) {
						    console.log(response);
						  })
						  .catch(function (error) {
						    console.log(error);
						  });
				},
				handleInput(e) {
				      let a = e.key.replace(/[^\d]/g, "");
				      if (!a) {
				        e.preventDefault();
				      }
				    }
			}

		};
		var About = {
			template : '#about',
			data : function() {
				return {
					msg : 'Hello! Vonic.'
				}
			}
		};
		const routes = [ {
			path : '/',
			component : Index
		}, {
			path : '/about',
			component : About
		} ]

		Vue.use(Vonic.app, {
			routes : routes
		})
	</script>
</body>
</html>