<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhh.domain.business.BillRepository">
	<select id="getBillByStatus"
		resultType="cn.xhh.domain.business.Bill">
		select * from bill where tenant_id=#{tenantId} and
		user_id=#{userId}
		<choose>
			<when test="status=10">
				and `status`=10
			</when>
			<otherwise>
				and `status` in (20,30)
			</otherwise>
		</choose>

	</select>
	<select id="getItemByBillId"
		resultType="cn.xhh.domain.business.BillItem">

		select i.id,
		i.express,
		express_no,
		i.price,
		cost,
		actual_weight,
		count,
		i.remark,
		t.volume,
		CONCAT_WS( '', province, city, area, address ) addr,
		ifnull((select discount from discount d where d.express=i.express and d.start_period &lt;=DATEDIFF(now(),b.push_time) and (d.end_period &gt; datediff(now(),b.push_time) or d.end_period=0) order by sort asc limit 1),100) dis
		from bill_item i
		inner join bill b on i.bill_id=b.id
		INNER JOIN ( SELECT sum( len * width * height * count ) AS volume, bill_item_id FROM bill_item_package GROUP BY bill_item_id ) AS t ON t.bill_item_id = i.id

		where bill_id=#{billId}
	</select>

	<select id="getBillById" resultType="cn.xhh.domain.business.Bill">
		select *
		from bill where id=#{billId}
	</select>

	<select id="getBillByNumber" resultType="cn.xhh.domain.business.Bill">
		select *
		from bill where bill_number=#{billNumber}
	</select>

	<update id="update" parameterType="cn.xhh.domain.business.Bill">
		update bill set bill_number=#{billNumber},discount_price=#{discountPrice},amount=#{amount},pay_channel=#{payChannel},
		pay_time=#{payTime},arrival_time=#{arrivalTime},`status`=#{status},version=version+1
		where id=${id}
	</update>
</mapper>