<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhh.domain.business.FlowRepository">
    <insert id="add" parameterType="cn.xhh.domain.business.Flow">
        insert into flow (id,bill_id,tenant_id,amount,user_id,create_ip,channel,`status`,result_msg,add_time,opt_time,is_close)
        values (#{id},#{billId},#{tenantId},#{amount},#{userId},#{createIp},#{createIp},#{channel},#{status},#{resultMsg},#{addTime},#{optTime})
    </insert>

    <update id="update" parameterType="cn.xhh.domain.business.Flow">
        update flow set `status`=#{status},result_msg=#{resultMsg},opt_time=#{optTime} where id=#{id}
    </update>





</mapper>