<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhh.domain.identity.UserRepository">

	<resultMap id="userMap" type="cn.xhh.domain.identity.User">
		<id column="id" property="id" />
		<result column="tenant_id" property="tenantId" />
		<result column="name" property="name" />
		<result column="cell" property="cell" />
		<result column="id_number" property="idNumber" />
		<result column="status" property="status" />
		<result column="audit_reason" property="auditReason" />
		<result column="type" property="type" />
		<result column="add_time" property="addTime" />
		<association property="userLogin"
			javaType="cn.xhh.domain.identity.UserLogin" resultMap="userLoginMap" />
		
		<collection property="attach" ofType="String">
			<result column="path" />
		</collection>
	</resultMap>

	<resultMap id="userLoginMap"
		type="cn.xhh.domain.identity.UserLogin">
		<result column="user_id" property="userId" />
		<result column="provide" property="provide" />
		<result column="open_id" property="openId" />
		<result column="nick_name" property="nickName" />
		<result column="head_img" property="headImg" />
		<result column="add_time" property="addTime" />
	</resultMap>

	<select id="findByOpenId" parameterType="String"
		resultMap="userMap">
		select
		u.id,u.tenant_id,`name`,cell,id_number,u.type,
		u.`status`,audit_reason,u.add_time,ul.provide,
		ul.open_id,ul.nick_name,ul.head_img,ul.add_time,path
		from `user` u
		inner join user_login ul on
		u.id=ul.user_id
		left join attach a on a.source_id=u.id and
		a.source_name='user'
		where ul.open_id=#{openId}
	</select>
	<!-- 更新最后登录时间 -->
	<update id="updateLastLoginTime" parameterType="String">
		update user set
		last_login_time=now() where id = (select user_id from user_login where open_id=#{openId});
	</update>

	<insert id="reg" parameterType="cn.xhh.domain.identity.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		`user`(tenant_id,`name`,cell,`status`,id_number,type,add_time,version)
		values
		(#{tenantId},#{name},#{cell},#{status},#{idNumber},#{type},#{addTime},1)
	</insert>
	<insert id="saveLogin"
		parameterType="cn.xhh.domain.identity.UserLogin">
		insert into user_login
		(tenant_id,user_id,provide,open_id,nick_name,head_img,add_time)
		values
		(#{tenantId},#{userId},#{provide},#{openId},#{nickName},#{headImg},#{addTime})
	</insert>
	
	<update id="updateLogin"
		parameterType="cn.xhh.domain.identity.UserLogin">
		update user_login set nick_name=#{nickName},head_img=#{headImg} where open_id=#{openId}
		</update>
	
	<insert id="update" parameterType="cn.xhh.domain.identity.User"
		useGeneratedKeys="true" keyProperty="id">
		update `user` set `name`=#{name},cell=#{cell},`status`=#{status},id_number=#{idNumber},type=#{type},version=version+1
		where id=${id}
	</insert>
</mapper>