<#assign title> 鑫恒辉物流-客户中心 </#assign>

<#assign head>
<style type="text/css">
.tabs-top>.tabs {
	top: 0px;
}

.tabbar {
	overflow: hidden;
}

.scroll-inner {
	padding-bottom: 50px;
}

.pull-to-refresh-layer {
	height: 50px;
}

</style>
</#assign>
<#assign contentBody> <script type="x-template" id="index">
      <div class="page" v-tabbar="{'menus': menus, menuColor: '#B5B5B5', activeMenuColor: '#44CC00', onMenuClick: menuClicked}">
        <router-view></router-view>
      </div>
    </script> <script type="text/x-template" id="order">
<div class="page" v-tabbar-menu-index="0">
	<tabs :tab-items="tabs" :tab-index="q.status" :on-tab-click="onTabClick" style="top:0px;"></tabs>
	<scroll class="page-content" :on-refresh="onRefresh" :on-infinite="onInfinite">
	<item v-for="(item, index) in dataTable" style="padding:0px;margin-top:10px;"> <!--:class="{'item-stable': index % 2 == 0}"-->
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <!--<label class="weui-form-preview__label"></label>-->
                <em class="weui-form-preview__value">揽件地址：{{item.addr}}</em>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">托寄物：</label>
                    <span class="weui-form-preview__value">{{item.goods}}</span>
                </div>
                <!--<div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">客户：</label>
                    <span class="weui-form-preview__value">{{item.name}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">手机：</label>
                    <span class="weui-form-preview__value">{{item.cell}}</span>
                </div>-->
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">备注：</label>
                    <span class="weui-form-preview__value">{{item.remark}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">总重量(kg):{{item.weight}} | 总件数:{{item.num}}</label>
                </div>
                <div v-if="q.status==1" class="weui-form-preview__item">
					<h3 style="font-weight: 400;font-size: 15px;margin-top: .34em;">驾驶员信息</>
				</div>
                <div v-if="q.status==1" class="weui-form-preview__item">
                    <label class="weui-form-preview__label">{{item.name}} | {{item.carNumber}} | {{item.cell}}</label>
                </div>
            </div>
            
        </div>
    </item>
	<div v-if="q.page >= pages && pages!=0" slot="infinite" class="text-center">没有更多数据</div>
	<div v-if="pages==0" slot="infinite" class="item item-divider text-center">暂无订单</div>
	
    </scroll>
	<div style="display:block;text-align:right;position:fixed;bottom:70px;right:20px;" v-on:click="showModal()">
		<md-button class="button button-calm button-fab">
    		<i class="icon ion-plus"></i>
  		</md-button>
	</div>
</div>

</script> <script type="text/x-template" id="bill">
<div class="page" v-tabbar-menu-index="1">
	<tabs :tab-items="tabs" :tab-index="tabIndex" :on-tab-click="onTabClick" style="top:0px;"></tabs>
	
</div>

</script> <script type="text/x-template" id="my">

<div class="page-content padding-top" v-tabbar-menu-index="2">
	<p class="text-center">
		<img style="border-radius: 10%"
			src="<@shiro.user><@shiro.principal property="headImg" /></@shiro.user>" />
	</p>
	<p class="text-center"><@shiro.user><@shiro.principal property="nickName" /></@shiro.user></p>

	<list> <item> 姓名 <span class="item-note"> <@shiro.user><@shiro.principal property="name" /></@shiro.user> </span> </item> <item>
	手机号 <span class="item-note"> <@shiro.user><@shiro.principal property="cell" /></@shiro.user> </span> </item> <item> 身份证 <span
		class="item-note"> <@shiro.user><@shiro.principal property="idNumber" /></@shiro.user> </span> </item> </list>
</div>



</script> 
<script type="text/x-template" id="modal">
<div class="page-content padding padding-top">
    <von-input type="text" v-model="order.addr" placeholder="揽件地址" label="揽件地址"></von-input>
	<von-input type="text" v-model="order.goods" placeholder="托寄物"
		label="托寄物"></von-input>
	<von-input type="text" v-model="order.num" placeholder="总件数"
		label="总件数"></von-input>
	<von-input type="text" v-model="order.weight" placeholder="总重量"
		label="总重量"></von-input>
	
	<div class="item item-divider">备注</div>
	<textarea v-model="order.remark" rows="3" class="weui-textarea" />
	<div class="padding">
        <div class="button button-positive button-block" @click="onCreate()">提交</div>
    </div>
  </div>
</script>
</#assign>



<#assign body> <script type="text/javascript">

var Modal = { template: '#modal',
	data(){
		return {
		  order:{
			addr:'',
			goods:'',
			num:'',
			weight:'',
			remark:''
		  }
		}
	},
	methods:{
		onCreate:function(){
			$modal.destroy();
			if(!this.order.addr){
				 $toast.show('请输入揽件地址')
				return;
			}
			if(!this.order.goods){
				 $toast.show('请输入托寄物')
				return;
			}
			if(!this.order.num){
				 $toast.show('请输入件数')
				return;
			}
			var re = /^(\d+)(\.\d+)?$/;
		      
			if(!re.test(this.order.num)){
				 $toast.show('请输入有效的件数')
				return;
			}
			if(!this.order.weight){
				 $toast.show('请输入总重量')
				return;
			}
			if(!re.test(this.order.weight)){
				 $toast.show('请输入有效的重量')
					return;
				}
			var self=this;
			axios.post(basePath+"/c/s",this.order).then(function(res){
				if(res.data.code==0){
					$toast.show('提交成功，请耐心等待取件');
					self.order={
						addr:'',
						goods:'',
						num:'',
						weight:'',
						remark:''
					  };
				}else{
					$toast.show(res.data.result)
				}
			}).catch(function(err){
				console.log(err);
			});
		}
	}
}
var Index = {
        template: '#index',
        data() {
          return {
            menus: [
              {
                iconOn: 'icon ion-ios-paper',
                iconOff: 'icon ion-ios-paper-outline',
                text: '订单',
                path: '/'
              },
              {
                  iconOn: 'ion-ios-calculator',
                  iconOff: 'ion-ios-calculator-outline',
                  text: '账单',
                  path: '/bill'
                },
              {
                iconOn: 'ion-ios-person',
                iconOff: 'ion-ios-person-outline',
                text: '我的',
                path: '/my'
              }
            ]
          }
        },
        methods: {
          menuClicked(menuIndex) {
            console.log(menuIndex)
          }
        },
        beforeDestroy() {
          $tabbar.$emit('hideTabbar')
        }
      }
      var Order = { 
		template: '#order'
		,data:function(){
			return {
				tabs: [
			        "待接单",
			        "已接单"//,
			        //"已拒单"
			      ],
			      q:{
			    	  status:0,
			    	  page:1
			      },
			      dataTable:[],
			      pages:0,
			      modal: undefined
			}
		},
		methods:{
			onTabClick:function(index) {
				this.dataTable=[];
				this.q={
			    	  status:index,
			    	  page:1
			      };
		      	this.queryByStatus();
		    },
	        queryByStatus:function(){
	        	var self=this;
	        	axios.post(basePath+"/c/q",this.q).then(function(res){
	        		if (self.q.page === 1)
	        			self.dataTable=res.data.data;
                    else
                    	self.dataTable = self.dataTable.concat(res.data.data);
					
					self.pages=res.data.totalPage;
				}).catch(function(err){
					console.log(err);
				});
	        },
	        onRefresh:function(done){
	        	var self=this;
	        	setTimeout(() => {
	                self.q.page=1;
	                self.queryByStatus();
	                done()
	              }, 1500)
	        },
	        onInfinite:function(done) {
	            setTimeout(() => {
	              if (this.q.page < this.pages) {	                
	            	  this.q.page++;
	            	  this.queryByStatus();
	              }

	              done()
	            }, 1500)
	          },
	          showModal:function() {
	              this.modal.show()
	            }
		},
		mounted:function(){
			this.queryByStatus();
			var self=this;
			$modal.fromComponent(Modal, {
		        title: '创建订单',
		        theme: 'default',
		        onHide:function(){
		        	self.queryByStatus();
		        }
		      }).then((modal) => {
		        this.modal = modal
		      })
		},

	    destroyed() {
	      if (this.modal)
	        $modal.destroy(this.modal)
	    }
	}
var Bill = { 
		template: '#bill',
		data(){
			return {
				tabs: [
			        "待付款",
			        "已付款"//,
			        //"已拒单"
			      ],
			      tabIndex:0
			}
		},
		methods:{
			onTabClick:function(index) {
				
		      	this.tabIndex=index;
		    }
		}
		
	}
      var My = { template: '#my' }
      // Routes
      var routes = [
        { 
          path: '/', 
          component: Index,
          children: [
            { path: '/', component: Order },
            { path: 'bill', component: Bill },
            { path: 'my', component: My }
          ]
        }
      ]
      // Start up
      Vue.use(Vonic.app, {
        routes: routes
      })
</script> </#assign>



































<#include "/layout.html" encoding="utf-8">