<#assign title> 鑫恒辉物流-客户中心 </#assign>

<#assign head>
<style type="text/css">
    .tabs-top>.tabs {
        top: 0px;
    }

    .tabbar {
        overflow: hidden;
    }

    .scroll-inner {
        padding-bottom: 50px;
    }

    .pull-to-refresh-layer {
        height: 50px;
    }


</style>
</#assign>
<#assign contentBody>
<script type="x-template" id="index">
    <div class="page" v-tabbar="{'menus': menus, menuColor: '#B5B5B5', activeMenuColor: '#44CC00', onMenuClick: menuClicked}">
        <router-view></router-view>
    </div>
</script>

<script type="text/x-template" id="order">
    <div class="page" v-tabbar-menu-index="0">
        <tabs :tab-items="tabs" :tab-index="q.status" :on-tab-click="onTabClick" style="top:0px;"></tabs>
        <scroll class="page-content" :on-refresh="onRefresh" :on-infinite="onInfinite">
            <item v-for="(item, index) in dataTable" style="padding:0px;margin-top:10px;"> <!--:class="{'item-stable': index % 2 == 0}"-->
                <div class="weui-form-preview">
                    <div class="weui-form-preview__hd">
                        <!--<label class="weui-form-preview__label"></label>-->
                        <em class="weui-form-preview__value">揽件地址：{{item.addr}}</em>
                    </div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">托寄物：</label>
                            <span class="weui-form-preview__value">{{item.goods}}</span>
                        </div>
                        <!--<div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">客户：</label>
                            <span class="weui-form-preview__value">{{item.name}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">手机：</label>
                            <span class="weui-form-preview__value">{{item.cell}}</span>
                        </div>-->
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">备注：</label>
                            <span class="weui-form-preview__value">{{item.remark}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">总重量(kg):{{item.weight}} | 总件数:{{item.num}}</label>
                        </div>
                        <div v-if="q.status==1" class="weui-form-preview__item">
                            <h3 style="font-weight: 400;font-size: 15px;margin-top: .34em;">驾驶员信息</>
                        </div>
                        <div v-if="q.status==1" class="weui-form-preview__item">
                            <label class="weui-form-preview__label">{{item.name}} | {{item.carNumber}} | {{item.cell}}</label>
                        </div>
                    </div>

                </div>
            </item>
            <div v-if="q.page >= pages && pages!=0" slot="infinite" class="text-center">没有更多数据</div>
            <div v-if="pages==0" slot="infinite" class="item item-divider text-center">暂无订单</div>

        </scroll>
        <div style="display:block;text-align:right;position:fixed;bottom:70px;right:20px;" @click="showModal()">
            <md-button class="button button-calm button-fab">
                <i class="icon ion-plus"></i>
            </md-button>
        </div>
    </div>
</script>

<script type="text/x-template" id="bill">
    <div class="page" v-tabbar-menu-index="1">
        <tabs :tab-items="tabs" :tab-index="tabIndex" :on-tab-click="onTabClick" style="top:0px;"></tabs>
        <scroll class="page-content" :on-refresh="onRefresh" :on-infinite="onInfinite">
            <item v-for="(item, index) in tableData" style="margin-top:10px;" @click.native="showModal(item)"  class="item-icon-right"> <!--:class="{'item-stable': index % 2 == 0}"-->
                账期：{{item.period}}
                <span class="item-note">{{item.price}}(元)</span>
                <i class="icon ion-ios-arrow-right" style="color: #DDD;"></i>
            </item>
            <div v-if="q.page >= totalPage && totalPage!=0" slot="infinite" class="text-center">没有更多数据</div>
            <div v-if="totalPage==0" slot="infinite" class="item item-divider text-center">暂无账单</div>
        </scroll>
    </div>
</script>

<script type="text/x-template" id="my">

    <div class="page-content" v-tabbar-menu-index="2">
        <p style="text-align: right;margin: 10px;"><i class="icon ion-ios-gear-outline" style="font-size: 26px;" @click="showModal"></i></p>
        <div class="text-center">
            <img style="border-radius: 10%" :src="user.headImg" />
            <p> {{user.nickName}} </p>
            <p v-if="user.status==2 || user.status==30" style="background: lightgrey;border-radius: 30px;padding: 8px 15px;min-width:118px;display:inline-block;">{{user.status==2?"待认证":user.status==30?"审核不通过:"+user.auditReason:""}}</p>
            <p><i style="font-size:20px;" class="icon ion-ios-compose-outline"></i><a :href="basePath+'/info'">信息编辑</a></p>
        </div>
        <list>
            <item> 姓名 <span class="item-note"> {{user.name}} </span></item>
            <item>手机号 <span class="item-note"> {{user.cell}} </span></item>
            <item> 身份证 <span class="item-note">  {{user.idNumber}}</span></item>
        </list>
    </div>
</script>

<script type="text/x-template" id="bill_modal">
    <div class="page-content padding-top">
        <div class="weui-form-preview" v-for="(item,index) in billDetail.items" style="margin-bottom:5px;">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">{{item.express}}：</label>
                    <span class="weui-form-preview__value">{{item.expressNo}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">目的地：</label>
                    <span class="weui-form-preview__value">{{item.addr}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">总体积(m³):{{item.volume}} | 总重量(kg):{{item.actualWeight}} | 总件数:{{item.count}}</label>
                </div>
            </div>

            <div class="weui-form-preview__hd" style="padding: 0px 15px 10px;text-align:right;">
                <!--            <em class="weui-form-preview__value">折扣抵减(元)：{{item.rebate}}</em>-->
                <!--            <label class="weui-form-preview__label">运费总计(元)：{{item.price}}</label>-->
                <em class="weui-form-preview__value">运费总计(元)：{{item.price}}</em>
            </div>
        </div>
        <div class="weui-form-preview" style="bottom:60px; position:fixed;width:100%;display: flex; align-items: center;" v-if="!isPay">

            <div class="weui-form-preview__bd" style="flex: 1;font-weight: bold;text-align: right;">
                <div class="weui-form-preview__item" >
                    <label class="weui-form-preview__label">合计</label>
                    <span class="weui-form-preview__value" style="color:#000;">¥{{billDetail.price | number}}</span>
                </div>
                <div class="weui-form-preview__item" v-if="billDetail.rebate>0">
                    <label class="weui-form-preview__label">折扣抵减</label>
                    <span class="weui-form-preview__value" style="color:red;">-¥{{billDetail.rebate | number}}</span>
                </div>
            </div>
        </div>

        <div class="weui-form-preview" style="bottom:0px; position:fixed;width:100%;display: flex; align-items: center;" v-if="!isPay">

            <div class="weui-form-preview__bd" style="flex: 1;text-align: right;">
                <div class="weui-form-preview__item">
                    <label>实付</label>
                    <span style="color:red;">¥{{(billDetail.price-billDetail.rebate) | number}}</span>
                </div>
            </div>
            <div class="weui-form-preview__ft" style="text-align: right">

                <md-button class="button button-assertive button-block" style="min-height: 30px;line-height: 26px;border-radius:20px;" @click.native="pay()">
                    立即支付
                </md-button>

            </div>
        </div>
    </div>
    </div>
</script>

<script type="text/x-template" id="modal">
    <div class="page-content padding padding-top">


<!--        <von-input type="text" v-model="order.addr" placeholder="揽件地址" label="揽件地址"></von-input>-->
        <von-input type="text" v-model="order.goods" placeholder="托寄物" label="托寄物"></von-input>
        <von-input type="text" v-model="order.num" placeholder="总件数" label="总件数"></von-input>
        <von-input type="text" v-model="order.weight" placeholder="总重量" label="总重量"></von-input>
        <von-input type="text" v-model="order.remark" placeholder="备注" label="备注"></von-input>
        <!--	<div class="item item-divider" style="padding-bottom: 0px; min-height: 36px;">备注</div>-->
        <!--	<textarea v-model="order.remark" rows="3" class="weui-textarea" />-->
        <div class="padding">
            <div class="button button-positive button-block" @click="onCreate()">提交</div>
        </div>
    </div>

</script>

<script type="text/x-template" id="package_address_list">
    <div class="page-content padding padding-top">
        <von-input type="text" v-model="order.addr" placeholder="揽件地址" label="揽件地址"></von-input>
        <von-input type="text" v-model="order.goods" placeholder="托寄物" label="托寄物"></von-input>
        <von-input type="text" v-model="order.num" placeholder="总件数" label="总件数"></von-input>
        <von-input type="text" v-model="order.weight" placeholder="总重量" label="总重量"></von-input>
        <von-input type="text" v-model="order.remark" placeholder="备注" label="备注"></von-input>
        <!--	<div class="item item-divider" style="padding-bottom: 0px; min-height: 36px;">备注</div>-->
        <!--	<textarea v-model="order.remark" rows="3" class="weui-textarea" />-->
        <div class="padding">
            <div class="button button-positive button-block" @click="onCreate()">提交</div>
        </div>
    </div>
</script>

<script type="text/x-template" id="package_address_edit">
    <div class="page-content padding padding-top">
        <von-input type="text" v-model="order.addr" placeholder="揽件地址" label="揽件地址"></von-input>
        <von-input type="text" v-model="order.goods" placeholder="托寄物" label="托寄物"></von-input>
        <von-input type="text" v-model="order.num" placeholder="总件数" label="总件数"></von-input>
        <von-input type="text" v-model="order.weight" placeholder="总重量" label="总重量"></von-input>
        <von-input type="text" v-model="order.remark" placeholder="备注" label="备注"></von-input>
        <!--	<div class="item item-divider" style="padding-bottom: 0px; min-height: 36px;">备注</div>-->
        <!--	<textarea v-model="order.remark" rows="3" class="weui-textarea" />-->
        <div class="padding">
            <div class="button button-positive button-block" @click="onCreate()">提交</div>
        </div>
    </div>
</script>

</#assign>



<#assign body>
<script type="text/javascript" src="${request.getContextPath()}/assets/js/zepto.area.js"></script>
<script type="text/javascript">
    var billId=0;
    var isPay=false;
    var Modal = {
        template: '#modal',
        data: function () {
            return {
                order: {
                    addr: '',
                    goods: '',
                    num: '',
                    weight: '',
                    remark: ''
                }
            }
        },
        methods: {
            dropselect:function(){
                console.log(1);
                areaList = $("#areaList");
                console.log(areaList);
                areaTop = areaList.offset().top;
                console.log(areaTop);
                intProvince(1);
                $("#areaMask").fadeIn();
                $("#areaLayer").animate({"bottom": 0}).attr("flag","0");
            },
            onCreate: function () {
                $modal.destroy();
                if (!this.order.addr) {
                    $toast.show('请输入揽件地址')
                    return;
                }
                if (!this.order.goods) {
                    $toast.show('请输入托寄物')
                    return;
                }
                if (!this.order.num) {
                    $toast.show('请输入件数')
                    return;
                }
                var re = /^(\d+)(\.\d+)?$/;

                if (!re.test(this.order.num)) {
                    $toast.show('请输入有效的件数')
                    return;
                }
                if (!this.order.weight) {
                    $toast.show('请输入总重量')
                    return;
                }
                if (!re.test(this.order.weight)) {
                    $toast.show('请输入有效的重量')
                    return;
                }
                var self = this;
                axios.post(basePath + "/c/s", this.order).then(function (res) {
                    if (res.data.code == 0) {
                        $toast.show('提交成功，请耐心等待取件');
                        self.order = {
                            addr: '',
                            goods: '',
                            num: '',
                            weight: '',
                            remark: ''
                        };
                    } else {
                        $toast.show(res.data.result)
                    }
                }).catch(function (err) {
                    console.log(err);
                });
            }
        },
        mounted:function () {


        }
    };

    var Index = {
        template: '#index',
        data: function () {
            return {
                menus: [
                    {
                        iconOn: 'icon ion-ios-paper',
                        iconOff: 'icon ion-ios-paper-outline',
                        text: '订单',
                        path: '/'
                    },
                    {
                        iconOn: 'ion-ios-calculator',
                        iconOff: 'ion-ios-calculator-outline',
                        text: '账单',
                        path: '/bill'
                    },
                    {
                        iconOn: 'ion-ios-person',
                        iconOff: 'ion-ios-person-outline',
                        text: '我的',
                        path: '/my'
                    }
                ]
            }
        },
        methods: {
            menuClicked: function (menuIndex) {
                console.log(menuIndex)
            }
        },
        beforeDestroy: function () {
            $tabbar.$emit('hideTabbar')
        }
    };

    var Order = {
        template: '#order',
        data: function () {
            return {
                tabs: [
                    "待接单",
                    "已接单"//,
                    //"已拒单"
                ],
                q: {
                    status: 0,
                    page: 1
                },
                dataTable: [],
                pages: 0,
                modal: undefined
            }
        },
        methods: {
            onTabClick: function (index) {
                this.dataTable = [];
                this.q = {
                    status: index,
                    page: 1
                };
                this.queryByStatus();
            },
            queryByStatus: function () {
                var self = this;
                axios.post(basePath + "/c/q", this.q).then(function (res) {
                    if (self.q.page === 1)
                        self.dataTable = res.data.data;
                    else
                        self.dataTable = self.dataTable.concat(res.data.data);

                    self.pages = res.data.totalPage;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            onRefresh: function (done) {
                var self = this;
                setTimeout(function () {
                    self.q.page = 1;
                    self.queryByStatus();
                    done()
                }, 1500)
            },
            onInfinite: function (done) {
                setTimeout(function () {
                    if (this.q.page < this.pages) {
                        this.q.page++;
                        this.queryByStatus();
                    }

                    done()
                }, 1500)
            },
            showModal: function () {
                if (this.modal)
                    this.modal.show();
            }
        },
        mounted: function () {
            this.queryByStatus();
            var self = this;
            $modal.fromComponent(Modal, {
                title: '创建订单',
                theme: 'default',
                onHide: function () {
                    self.queryByStatus();
                }
            }).then(function (modal) {
                self.modal = modal
            })
        },

        destroyed: function () {
            if (this.modal)
                $modal.destroy(this.modal)
        }
    };

    var Bill = {
        template: '#bill',
        data: function () {
            return {
                tabs: [
                    "待付款",
                    "已付款"//,
                    //"已拒单"
                ],
                tabIndex: 0,
                q: {
                    status: 10,
                    page: 1
                },
                tableData: [],
                totalPage: 0,
                modal: undefined

            }
        },
        methods: {
            onTabClick: function (index) {
                this.q = {
                    status: (index + 1) * 10,
                    page: 1
                };
                this.getBills();
                this.tabIndex = index;
            },
            getBills: function () {
                var self = this;
                axios.post(basePath + "/c/b", this.q).then(function (res) {
                    if (self.q.page === 1)
                        self.tableData = res.data.data;
                    else
                        self.tableData = self.dataTable.concat(res.data.data);

                    self.totalPage = res.data.totalPage;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            onRefresh: function (done) {
                var self = this;
                setTimeout(function () {
                    self.q.page = 1;
                    self.getBills();
                    done()
                }, 1500)
            },
            onInfinite: function (done) {
                setTimeout(function () {
                    if (this.q.page < this.totalPage) {
                        this.q.page++;
                        this.getBills();
                    }
                    done()
                }, 1500)
            },
            showModal: function (item) {
                billId = item.id;
                isPay = this.q.status == 20;
                var self = this;
                $modal.fromComponent(BillModal, {
                    title: '账单支付',
                    theme: 'default',
                    onHide: function () {
                        self.getBills();
                    }
                }).then(function (modal) {
                    self.modal = modal;

                    self.modal.show();
                })
            }
        },
        mounted: function () {
            this.getBills();

        },
        destroyed: function () {
            if (this.modal){
                $modal.destroy(this.modal);
                billId=0;
                isPay=false;
            }
        }
    };

	var BillModal= {
        template: "#bill_modal",
        data: function () {
            return {
                billDetail: {
                    id: 0,
                    items: [],
                    price: 0
                },
                wxpay:{
                    appId:'',
                    timeStamp:'',
                    nonceStr:'',
                    package:'',
                    signType:'',
                    paySign:''
                },
                isPay: isPay
            }
        },
        filters: {
            number: function (data) {
                return Number(data).toFixed(2)
                // return data.toFixed(2);
            }
        },
        methods: {
            pay: function (effect) {
                // $dialog.alert({
                //       content: '弹出支付码',
                //       okTheme: 'positive',
                //       effect: effect || 'default'
                //     }).then(() => {
                //       console.log('alert hide.')
                //     })
                var self=this;
                axios.post(basePath + "/c/o", {id: billId}).then(function (value) {
                    var res=value.data;
                    if(res.code>0){
                        $toast.show(res.result);
                        return;
                    }
                    self.wxpay=res.result;
                    if (typeof WeixinJSBridge == "undefined") {
                        if (document.addEventListener) {
                            document.addEventListener('WeixinJSBridgeReady',
                                self.onBridgeReady, false);
                        } else if (document.attachEvent) {
                            document.attachEvent('WeixinJSBridgeReady',
                                self.onBridgeReady);
                            document.attachEvent('onWeixinJSBridgeReady',
                                self.onBridgeReady);
                        }
                    } else {
                        self.onBridgeReady();
                    }
                }).catch(function (reason) {
                    console.log(reason);
                })

            },
            onBridgeReady:function(){
                console.log(this.wxpay);
                WeixinJSBridge.invoke('getBrandWCPayRequest',this.wxpay,function (res) {
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        $toast.show('支付成功');
                        console.log('支付成功');
                        //支付成功后跳转的页面
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        console.log('支付取消');
                        $toast.show('已取消支付');
                    }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                        console.log('支付失败');
                        $toast.show('网络异常，请重试');
                    }
                    //使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok,但并不保证它绝对可靠。

                });
            },
            getItems: function () {
                var self = this;
                axios.post(basePath + "/c/i", {billId: billId}).then(function (res) {
                    self.billDetail = res.data;
                }).catch(function (err) {
                    console.log(err);
                });
            }
        },
        mounted: function () {
            this.getItems();

        }
    };

    var My = {
        template: '#my',
        data: function () {
            return {
                user: {
                    status: 0,
                    auditReason: ''
                },
                modal:undefined
            };
        },
        methods: {
            getS: function () {
                var self = this;
                axios.get(basePath + "/personalinfo").then(function (data) {
                    self.user = data.data;

                })
            },
            showModal: function () {
                var self = this;
                $modal.fromComponent(packAddressListModel, {
                    title: '我的揽件地址',
                    theme: 'default',
                    onHide: function () {

                    }
                }).then(function (modal) {
                    self.modal = modal;

                    self.modal.show();
                })
            }
        },
        mounted: function () {
            this.getS();
        }
    };

    var packAddressListModel={
        template: "#package_address_list",
        data: function () {
            return {

            }
        },
        methods: {
            getPackaddress: function () {

            }
        },
        mounted: function () {
            this.getPackaddress();

        }

    }

    // Routes
    var routes = [
        {
            path: '/',
            component: Index,
            children: [
                {path: '/', component: Order},
                {path: 'bill', component: Bill},
                {path: 'my', component: My}
            ]
        }
    ];
    // Start up
    Vue.use(Vonic.app, {
        routes: routes
    })
</script>
</#assign>



































<#include "/layout.html" encoding="utf-8">